* {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
	font-family: 'Open Sans', sans-serif;
}
.container {
	max-width: 1200px;
	margin: 0 auto;
	padding: 70px 180px 150px;
}

/*for all paragraphs*/
p { 
	margin: 12px 0;
	color: #8d8d8d;
	font-size: 12.5px;
	line-height: 1.7;
}

/*HEADER SECTION*/
.header {
	padding: 20px 30px;
	background-color: #f0f0f0;
}
.header__img {
	float: left;
}
.header__title {
	margin: 0 20px 0 400px;
}
.header__title_header {
	margin: 0;
	font-size: 23px;
	font-weight: bold;
}
.header__title_paragraph {
	font-size: 11.5px;
}
.header__title_button {
	padding: 7px 22px;
	background: linear-gradient(#d64036, #b6362e);
	color: #fff;
	border: none;
	border-radius: 2px;
	cursor: pointer;
}

/*MAIN SECTION*/
.main__header {
	font-size: 18.5px;
	margin: 20px 0 5px 0;
}
.main__paragraph {
	margin: 0;
}
.main__item {
	display: -webkit-flex;
	display: flex;
	-webkit-flex-wrap: wrap;
	flex-wrap: wrap;
	width: 100%;
	justify-content: space-between;
	align-content: space-between;
	margin: 20px 0 0 0;
}
.main__item_column {
	position: relative;
}
.first-second-item {
	width: 27%;
}
.third-fourth-item {
	width: 23%;
}
.main__item_picture {
	float: left;
	margin: 5px;
}
.main__item_header {
	margin: 10px 0 20px 60px;
	font-style: italic;
	font-size: 13px;
}